/* PokemonCard.css */

/* Container that holds the cards */
.pokemon-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards */
  gap: 15px; /* Space between cards */
}

/* Individual card styling */
.pokemon-card {
  flex: 0 1 250px; /* Fixed width, prevents shrinking */
  max-width: 250px;
  min-width: 250px;
  max-height: 600px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.pokemon-card-img {
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.7);
}

.pokemon-card-body {
  padding: 15px;
  text-align: center;
}

.pokemon-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pokemon-card-button {
  margin-top: 15px;
  background-color: #4CAF50;
  border-color: #4CAF50;
  border-radius: 5px;
}

.pokemon-card-svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (prefers-color-scheme: dark) {
  /* Dark theme - Fully black background */
  .pokemon-card {
    color: #ffffff !important;
  }
}